section {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 0px 0px 0px 85px;
  overflow: scroll;
}

.img-container {
  width: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.category {
  background-color: #1d242c;
  border-radius: 5px;

  ul {
    color: white;
    margin: 0px;
    padding: 20px 20px 0px;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      list-style: none;
      padding-bottom: 15px;

      .svg-container {
        display: flex;
        align-items: center;
        width: 20px;
        height: 20px;
      }

      .sum {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 11px;
      }
    }

    .active-category {
      border-bottom: 4px solid #15af44;

      .sum {
        color: #15af44;
      }
    }
  }
}

.childe-category {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #272d36;

  a {
    text-decoration: none;
    color: #d9e3ef;
    font-size: 14px;
  }
}

.cards-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 12px;
  padding-top: 12px;
  padding-right: 12px;

  .card {
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    .card-img {
      position: relative;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .card-title {
      padding: 10px 15px 15px;
      margin: 0px;
      font-size: 14px;
      color: white;
      background-color: #252b33;
    }

    .card-button {
      display: none;
    }

    &:hover .card-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #000000b2;
      cursor: pointer;

      button {
        cursor: pointer;
        border: none;
        background-color: #15af44;
        color: white;
        border-radius: 5px;
        padding: 10px 40px;
      }
    }
  }

  .card:first-child {
    grid-column: span 2;
    grid-row: span 2;

    .card-img {
      height: calc(100% - 41px);
      img {
        height: 100%;
      }
    }
  }
}

.see-more {
  margin-left: auto; /* Add this line to push the button to the right */
  background: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
}
.see-more-btn__arrow {
  width: 14px;
  margin-left: 12px;
  transform: rotate(180deg);
  transition: 0.2s;
}
.hidden-categories {
  display: none;
}

.child-category-navbar.expanded {
  height: auto;
}

.top-slot-count {
  font-family: "Neue Croco Sans Medium", sans-serif; /* Adjust the font family name if needed */
  font-weight: 500;
  font-size: 11px;
  line-height: 11.19px;
  color: #15af44;
}
.top-slot-svg {
  width: 15.6px;
  height: 18px;
  top: 515px;
  left: 106.18px;
}
