<section>
  <article class="img-container">
    <img src="../assets/images/cover.svg" alt="" />
  </article>

  <article class="category">
    <ul>
      <li
        *ngFor="let info of categoryNavBarInfo; index as i"
        [ngClass]="{ 'active-category': i === 0 }"
      >
        <span
          class="svg-container"
          [innerHTML]="getSanitizedSvg(info.svg)"
        ></span>
        <span>{{ info.name }}</span>
        <span class="sum">25</span>
      </li>
    </ul>

    <div class="childe-category" [ngClass]="{ expanded: isExpanded }">
      <a href="#" *ngFor="let game of visibleCategories">{{ game.category }}</a>

      <ng-container *ngIf="isExpanded">
        <a
          href="#"
          *ngFor="let game of hiddenCategories"
          class="hidden-categories"
          >{{ game.category }}</a
        >
      </ng-container>
      <button class="see-more" (click)="toggleCategories()">
        See More
        <svg
          class="see-more-btn__arrow"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="14"
          height="12.25"
          viewBox="0 0 14 12.25"
        >
          <defs>
            <clipPath id="clip-path">
              <rect
                id="Rectangle_181"
                data-name="Rectangle 181"
                width="14"
                height="12.25"
                fill="#189541"
              />
            </clipPath>
          </defs>
          <g id="arrow" clip-path="url(#clip-path)">
            <g id="arrow-down-sign-to-navigate" transform="translate(0 2.135)">
              <path
                id="Path_282"
                data-name="Path 282"
                d="M7,5.16a.978.978,0,0,0-.693.287l-6.02,6.02a.98.98,0,0,0,1.386,1.387L7,7.526l5.326,5.326a.98.98,0,0,0,1.386-1.387l-6.02-6.02A.978.978,0,0,0,7,5.16Z"
                transform="translate(0 -5.16)"
                fill="#189541"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
  </article>

  <article class="cards-area">
    <div class="card" *ngFor="let card of cardsInfo">
      <div class="card-img">
        <div class="card-button">
          <button>PLAY</button>
        </div>
        <img src="../assets/images/card-img.png" alt="" />
      </div>
      <p class="card-title">{{ card }}</p>
    </div>
  </article>
</section>
