.cover-img{
    top: 68px; 
    left: 85.39px;
    width: 1584.61px;
    height: 420px
  }
  .category-navbar {
  width: 1592.375px;
  height: 106px;
  background-color: #1D242C;
  top: 440px;
  left: 85.39px;
  box-sizing: border-box;
  z-index: 1000;
 


}


.category-navbar a:hover {
}
.child-category-navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 53px;
  background-color: #272D36;
  bottom: 0;
  left: 0;
}
.child-category-navbar a {
  color: #6A7787;
  position: relative;
  text-decoration: none;
}
.child-category-navbar a:hover {
  color: white;
}
.child-category-navbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #15AF44;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.child-category-navbar a:hover::after {
  width: 89.24px;
}

.see-more {
  padding: 17px 20px 13px;
  margin-left: auto; /* Add this line to push the button to the right */
  background: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
}
.see-more-btn__arrow{
    width: 14px;
    margin-left: 12px;
    transform: rotate(180deg);
    transition: .2s;
}
.hidden-categories {
  display: none;
}

.child-category-navbar.expanded {
  height: auto;
}
.count{
  width: 11.26px;
  height: 11px;
  top: 504px;
  left: 187.63px;
  position: relative;
}

.top-slot-count{
  font-family: 'Neue Croco Sans Medium', sans-serif; /* Adjust the font family name if needed */
  font-weight: 500;
  font-size: 11px;
  line-height: 11.19px;
  color: #15AF44;
  
}
.top-slot-svg{
  Width:15.6px;
Height:18px;
Top:515px;
Left:106.18px
}


/////////////

.child-category-navbar {
  width: 100%;
  height: 53px;
  background-color: #272D36;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
}
.child-category-navbar a {
  color: #6A7787;
  position: relative;
  text-decoration: none;
}
.child-category-navbar a:hover {
  color: white;
}
.child-category-navbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #15AF44;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.child-category-navbar a:hover::after {
  width: 89.24px;
}
///////////////////


.navigation-list{
 
  height: 100%;
}


.first-card{
  width: 444.4px;
  height: 368px;
  top: 614px;
  left: 85.39px;
  position: absolute; 
}
.next-cards{
    width: 216.38px;
    height: 178px;
    top: 614px;
    left: 541.43px;
    position: absolute; /* Make sure to set position if not already set */
    /* Add any additional styles or properties as needed */
}
.next-cards-1{
  width: 216.38px;
  height: 178px;
  top: 614px;
  left: 541.43px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}

.next-cards-2{
  width: 216.38px;
  height: 178px;
  top: 614px;
  left: 769.46px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-3{
  width: 216.38px;
  height: 178px;
  top: 614px;
  left:997.48px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-4{
  width: 216.38px;
  height: 178px;
  top: 614px;
  left: 1225.5px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-5{
  width: 216.38px;
  height: 178px;
  top: 614px;
  left: 1449.65px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-6{
  width: 216.38px;
  height: 178px;
  top:  804px;
  left: 541.43px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-7{
  width: 216.38px;
  height: 178px;
  top:  804px;
  left: 769.46px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-8{
  width: 216.38px;
  height: 178px;
  top:  804px;
  left: 997.48px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-9{
  width: 216.38px;
  height: 178px;
  top:  804px;
  left: 1225.5px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-10{
  width: 216.38px;
  height: 178px;
  top:  804px;
  left: 1454px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-11{
  width: 216.38px;
  height: 178px;
  top:  994px;
  left: 85.39px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-12{
  width: 216.38px;
  height: 178px;
  top:  994px;
  left: 313.41px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-13{
  width: 216.38px;
  height: 178px;
  top:  994px;
  left: 541.43px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-14{
  width: 216.38px;
  height: 178px;
  top:  994px;
  left: 769.46px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-15{
  width: 216.38px;
  height: 178px;
  top:  994px;
  left: 997.48px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-16{
  width: 216.38px;
  height: 178px;
  top:  994px;
  left: 1225.5px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
.next-cards-17{
  width: 216.38px;
  height: 178px;
  top:  994px;
  left: 1450px;
  position: absolute; /* Make sure to set position if not already set */
  /* Add any additional styles or properties as needed */
}
