.logo-container {
    top: 10px;
    width: 58.22px;
    height: 45.66px;

  }
  
  .logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }


  .sport-logo {
    position: absolute;
    width: 29.11px;
    height: 30.1px;
    top: 96px;
    left: 24.26px;
    color: #6A7787;
  }
  
  .sport-logo:hover a {
    color: white;
  }
  
  .sport-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
  }
  
  .sport-logo a::after {
    content: "";
    display: block;
    width: 4px;
    background-color: #15AF44;
    position: absolute;
    top: 50%;
    left: -23.3px;
    transform: translateY(-50%); 
  }
  
  .sport-logo a:hover::after {
    height: 77px;
    width:2.91px 

  }

  .text-li {
    font-family: "Neue Croco sans Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14.24px;
    color: #6A7787;
  }
  .sport-logo:hover svg path {
    fill: white;
    transition:  0.3s ease;

  }
  .sport-logo:hover .text-li {
    color: white;
    transition:  0.3s ease;
  }
 
  .live-logo {
    position: absolute;
    width:30.08px;
    height:22.45px;
    top: 193px;
    left: 24.26px;
  }

  .live-logo:hover svg path {
    fill: white;
    transition:  0.3s ease;

  }
  .live-logo:hover .text-li {
    color: white;
    transition:  0.3s ease;
  }

  .live-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .live-logo a::after {
    content: "";
    display: block;
    width: 4px;
    background-color: #15AF44;
    position: absolute;
    top: 50%; 
    left: -23.3px;
    transform: translateY(-50%); 
  }
  
  .live-logo a:hover::after {
    height: 77px;
    width:2.91px 
  }
  
  .slot-logo {
    position: absolute;
    width:30.08px;
    height:26.96px;
    top:283px;
    left: 24.26px;
    color: #6A7787;
  }


 .vertical-line {
    width: 2.91px;
    height: 77px;
    top: 268px;
    left: 0.97px;
    background-color: #189541;
  }

  .slot-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slot-logo a::after {
    content: "";
    display: block;
    width: 2.91px;
    background-color: #15AF44;
    position: absolute;
    top: 50%; 
    left: -23.3px;
    transform: translateY(-50%); 
    height: 77px; 
  }
  
 
  .casino-logo {
    position: absolute; 
    width: 50.46px;
    height: 54.78px;
    top: 377px;
    left: 13.58px;
  }
  
  .casino-logo:hover svg path {
    fill: white;
    transition: 0.3s ease;
  }
  
  .casino-logo:hover .text-li {
    color: white;
    transition: 0.3s ease;
  }
  
  .casino-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
  }
  
  .casino-logo a::after {
    content: "";
    display: block;
    width: 4px;
    background-color: #15AF44;
    position: absolute;
    top: 50%; 
    left: -23.3px;
    transform: translateY(-50%); 
    height: 0; 
  }
  
  .casino-logo a:hover::after {
    height: 77px 
  }
  
  li{
    list-style: none
  }