.navbar {
    width: 1592.375px;
    height: 60px;
    background-color: #252B33;
    top: 0;
    left: 77.63px;
    display: flex;
    position: relative;
    padding: 0 20px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
  }

 
  .vertical-navbar {
    width: 77.63px;
    height: 100%;
    background-color: #2A3139;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 1000;
  }
  .vertical-navbar a {
    text-decoration: none;
    
  }
  .logo-container {
    position: absolute;
    top: 10px;
    width: 58.22px;
    height: 45.66px;
  }
  
  .logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* This property ensures that the entire image is visible within the container without distortion */
  }


  .sport-logo {
    position: absolute;
    width: 29.11px;
    height: 30.1px;
    top: 96px;
    left: 24.26px;
    color: #6A7787;
  }
  
  .sport-logo:hover a {
    color: white;
  }
  
  .sport-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Add this line to make the ::after positioned relative to this container */
  }
  
  .sport-logo a::after {
    content: "";
    display: block;
    width: 4px;
    background-color: #15AF44;
    position: absolute;
    top: 50%; /* Position it in the middle vertically */
    left: -23.3px;
    transform: translateY(-50%); /* Translate along the vertical axis */
  }
  
  .sport-logo a:hover::after {
    height: 77px;
    width:2.91px 

  }

  .text-li {
    font-family: "Neue Croco sans Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14.24px;
    color: #6A7787;
  }
  .sport-logo:hover svg path {
    fill: white;
    transition:  0.3s ease;

  }
  .sport-logo:hover .text-li {
    color: white;
    transition:  0.3s ease;
  }
 
  .live-logo {
    position: absolute;
    width:30.08px;
    height:22.45px;
    top: 193px;
    left: 24.26px;
    /* Add any additional styles or properties as needed */
  }

  .live-logo:hover svg path {
    fill: white;
    transition:  0.3s ease;

  }
  .live-logo:hover .text-li {
    color: white;
    transition:  0.3s ease;
  }

  .live-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .live-logo a::after {
    content: "";
    display: block;
    width: 4px;
    background-color: #15AF44;
    position: absolute;
    top: 50%; /* Position it in the middle vertically */
    left: -23.3px;
    transform: translateY(-50%); /* Translate along the vertical axis */
  }
  
  .live-logo a:hover::after {
    height: 77px;
    width:2.91px 
  }
  
  .slot-logo {
    position: absolute;
    width:30.08px;
    height:26.96px;
    top:283px;
    left: 24.26px;
    color: #6A7787;
  }


 .vertical-line {
    width: 2.91px;
    height: 77px;
    top: 268px;
    left: 0.97px;
    background-color: #189541;
  }

  .slot-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slot-logo a::after {
    content: "";
    display: block;
    width: 2.91px;
    background-color: #15AF44;
    position: absolute;
    top: 50%; /* Position it in the middle vertically */
    left: -23.3px;
    transform: translateY(-50%); /* Translate along the vertical axis */
    height: 77px; /* Initial height set to 0 */
  }
  
 
  .casino-logo {
    position: absolute; /* Set position to relative for proper positioning of the pseudo-element */
    width: 50.46px;
    height: 54.78px;
    top: 377px;
    left: 13.58px;
    /* Add any additional styles or properties as needed */
  }
  
  .casino-logo:hover svg path {
    fill: white;
    transition: 0.3s ease;
  }
  
  .casino-logo:hover .text-li {
    color: white;
    transition: 0.3s ease;
  }
  
  .casino-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Set position to relative for proper positioning of the pseudo-element */
  }
  
  .casino-logo a::after {
    content: "";
    display: block;
    width: 4px;
    background-color: #15AF44;
    position: absolute;
    top: 50%; /* Position it in the middle vertically */
    left: -23.3px;
    transform: translateY(-50%); /* Translate along the vertical axis */
    height: 0; /* Initial height set to 0 */
  }
  
  .casino-logo a:hover::after {
    height: 77px /* Expand the height to cover the entire container on hover */
  }
  
  li{
    list-style: none
  }